# SQLite
# DATABASE_URL=sqlite+aiosqlite:///./comandas.db

# PostgreSQL - Developer
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_b8gSPx1vLJTr@ep-shy-poetry-apezd373-pooler.c-7.us-east-1.aws.neon.tech/comandas-sistema?ssl=require

UPLOAD_DIR=app/uploads
