# SQLite
# DATABASE_URL=sqlite+aiosqlite:///./comandas.db

# PostgreSQL - Developer
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_b8gSPx1vLJTr@ep-shy-poetry-apezd373-pooler.c-7.us-east-1.aws.neon.tech/comandas-sistema?ssl=require

UPLOAD_DIR=app/uploads

# MongoDB
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=adminpassword

# Storage
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=adminpassword
MINIO_BUCKET=documents
MINIO_SECURE=false

# Mongo Express
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=adminpassword

DATABASE_NAME=yourmenu
